" options
set clipboard+=unnamedplus
set number relativenumber
set scrolloff=8
set incsearch

" handlers
sethandler <C-u> a:vim
sethandler <C-d> a:vim
sethandler <C-l> a:vim
sethandler <C-h> a:vim
sethandler <C-w> a:vim

" keymaps
" the leader key
let mapleader = ' '

" save and quit
nnoremap <leader>sk :w<CR><C-l>
nnoremap <leader>sa :wa<CR><C-l>
nnoremap <silent> <leader>q :q<CR>
inoremap jk <Esc>

" backspace replacement
inoremap <C-h> <BS>

" windows
nnoremap <leader>w <C-w>

" make Y behave like the rest of the capital letters
nnoremap Y y$

" keep it centered
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz

" config
nnoremap <leader>ce :e ~/.ideavimrc<CR>
nnoremap <leader>cr :source ~/.ideavimrc<CR>

" code generation
nnoremap <leader>gg :action Generate<CR>
vnoremap <leader>gs :action SurroundWith<CR>

" refactoring
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
vnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>

" search
nnoremap <leader>pf :action GotoClass<CR>
nnoremap <leader>pr :action FindInPath<CR>
nnoremap <leader>ps :action Find<CR>

" lsp
nnoremap <leader>lh :action QuickJavaDoc<CR>
nnoremap <leader>ld :action GotoDeclaration<CR>
nnoremap <leader>lr :action FindUsages<CR>

" tabs
nnoremap <leader>tn :action NextTab<CR>
nnoremap <leader>tp :action PreviousTab<CR>

" bookmarks
nnoremap <leader>bs :action ShowBookmarks<CR>
nnoremap <leader>bt :action ToggleBookmark<CR>

" plugins
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'

" plugin options and keymaps
let g:highlightedyank_highlight_duration = '300'
nnoremap <leader>d :NERDTreeFocus<CR>
