#!/usr/bin/bash

# add scripts folder to PATH
export PATH=$PATH:$HOME/scripts

# start the gnome-keyring-daemon
eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

# fix java errors
export _JAVA_AWT_WM_NONREPARENTING=1
export AWT_TOOLKIT=MToolkit
wmname LG3D

# add russian keyboard layout and remap caps lock to ctrl
setxkbmap -layout us,ru -option "grp:win_space_toggle,caps:ctrl_modifier"

# disable mouse acceleration
xinput --set-prop 14 "libinput Accel Profile Enabled" 0, 1

# start automounter for removable media
udiskie -N &

# add status monitor
killbar.sh
bar.sh &

# fix tearing and add transparency support
picom --experimental-backends &

# restore the last colorscheme that was in use
wal -R
