#!/usr/bin/bash

# add scripts folder to PATH
PATH=$PATH:$HOME/scripts
export PATH

# start the gnome-keyring-daemon
eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

# add russian keyboard layout and remap caps lock to ctrl
setxkbmap -layout us,ru -option "grp:win_space_toggle,caps:ctrl_modifier"

# disable mouse acceleration
xinput --set-prop 14 "libinput Accel Profile Enabled" 0, 1 &

# add status monitor
killbar.sh
bar.sh &

# fix tearing and add transparency support
picom --experimental-backends &

# restore the last colorscheme that was in use
wal -R
