# options
display_on=0
span_image=false
lock_timeout=300
fx_list=(dim blur dimblur pixel dimpixel color)
dim_level=40
blur_level=1
pixel_scale=10,1000
solid_color={color0}
wallpaper_cmd="feh --bg-fill"
quiet=false

# theme
loginbox={color0}ff
loginshadow=00000000
locktext="Type password..."
font="JetBrainsMonoNL Nerd Font"
ringcolor={color18}ff
insidecolor=00000000
separatorcolor=00000000
ringvercolor={color18}ff
insidevercolor=00000000
ringwrongcolor={color18}ff
insidewrongcolor={color1}ff
timecolor={color7}ff
time_format="%H:%M"
greetercolor={color7}ff
layoutcolor={color7}ff
keyhlcolor={color19}ff
bshlcolor={color1}ff
verifcolor={color7}ff
wrongcolor={color1}ff
modifcolor={color19}ff
bgcolor={color17}ff
