! X colors
*foreground:  {color7}
*background:  {color0}
*.foreground: {color7}
*.background: {color0}

! Colors 0-15
*.color0: {color0}
*color0:  {color0}
*.color1: {color1}
*color1:  {color1}
*.color2: {color2}
*color2:  {color2}
*.color3: {color3}
*color3:  {color3}
*.color4: {color4}
*color4:  {color4}
*.color5: {color5}
*color5:  {color5}
*.color6: {color6}
*color6:  {color6}
*.color7: {color7}
*color7:  {color7}
*.color8: {color8}
*color8:  {color8}
*.color9: {color9}
*color9:  {color9}
*.color10: {color10}
*color10:  {color10}
*.color11: {color11}
*color11:  {color11}
*.color12: {color12}
*color12:  {color12}
*.color13: {color13}
*color13:  {color13}
*.color14: {color14}
*color14:  {color14}
*.color15: {color15}
*color15:  {color15}

! Black color that will not be affected by bold highlighting
*.color66: {color0}
*color66:  {color0}

! My dwm colors
dwm.normfgcolor:     {color7}
dwm.normbgcolor:     {color16}
dwm.normbordercolor: {color18}
dwm.selfgcolor:      {color19}
dwm.selbgcolor:      {color16}
dwm.selbordercolor:  {color18}

! Fonts
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
