#!/bin/sh

# fix java errors
export _JAVA_AWT_WM_NONREPARENTING=1
export AWT_TOOLKIT=MToolkit
wmname LG3D

# start the automounter for removable media
udiskie -N &

# start the notification daemon
dunst &

# start the status monitor
killbar
bar &

# start the compositor (fixes tearing and adds transparency support)
picom --experimental-backends &

# start emacs in daemon mode
emacs --daemon &

# restore the last theme that was in use
theme -r
